:root {background:DarkGray;}

h1 {color:Navy;
text-align:center;
background:DimGray;
font-family: 'Allura', cursive;
font-size:40px;}

h2 {color:MidnightBlue;
font-family: 'Libre Franklin 400', sans-serif;}

h3 {color:Teal;
font-family: 'Libre Franklin 300', sans-serif;}

p.info {color:black;
font-family: 'Libre Franklin 100', sans-serif;}

p.intro {color:black;
font-family: 'Libre Franklin 100', sans-serif;}

p.intro::first-letter {float:left;
font-size:75px;
line-height:60px;
padding-top:4px;
padding-right:8px;
padding-left:3px;
color:MidnightBlue;}

img.book,
img.pizza,
img.pasta,
img.cookie {max-width:100%;}

img.tree,
img.ocean,
img.me,
img.bird,
img.butterfly {max-width:100%;}



@media (min-width: 600px) {
img.tree,
img.ocean,
img.me,
img.bird,
img.butterfly {
    max-width:19%;}
    
    .container {
        width:60%;
        margin: 0 auto;
    }
img.book,
img.pizza,
img.pasta,
img.cookie {
        max-width:60%;
    }







}

